/*タブレット向けレイアウト */
@media (max-width:1000px){
  .nav{
    display:block;
  }
  .item{
    text-align: center;
    width:100%;
  }

  .top-wrapper h1{
    font-size: 70px;
  }
  .top-wrapper p{
    font-size: 28px;
  }
}
/* スマホ向けレイアウト */
@media(max-width:670px){
  .top-wrapper h1{
    font-size: 49px;
  }
  .top-wrapper p{
    font-size: 20px;
  }
}
